*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.register-page {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to bottom, #f2f2f2, #fff);
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.register-page form {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.register-page label {
  display: block;
  margin-bottom: 10px;
  color: #666;
  font-weight: bold;
  text-align: left;
}

.register-page label h4{
    padding-bottom:5px;
}

.register-page input, .register-page textarea {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.register-page input:focus, .register-page textarea:focus {
  border-color: #aaa;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.register-page button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.register-page button[type="submit"]:hover {
  background-color: #444;
}

.register-page h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
  font-size: 24px;
}
